<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TP3</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
  
  
  <servlet>
  <servlet-name>ex1</servlet-name>
  <servlet-class>AffichageEtudients</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ex1</servlet-name>
  <url-pattern>/exercice1</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ex2</servlet-name>
  <servlet-class>exercice2</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ex2</servlet-name>
  <url-pattern>/exercice2</url-pattern>
  </servlet-mapping>
  
 
  <servlet>
  <servlet-name>ex3</servlet-name>
  <servlet-class>exercice3</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ex3</servlet-name>
  <url-pattern>/exercice3</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>ex4</servlet-name>
  <servlet-class>exercice4</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ex4</servlet-name>
  <url-pattern>/exercice4</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>ex5</servlet-name>
  <servlet-class>exercice5</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>ex5</servlet-name>
  <url-pattern>/exercice5</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>