<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
<display-name>TP4-1</display-name>
<welcome-file-list>
<welcome-file>index.html</welcome-file>
</welcome-file-list>


<servlet>
<servlet-name>ex1</servlet-name>
<servlet-class>servlet.Identification</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>ex1</servlet-name>
<url-pattern>/exercice1</url-pattern>
</servlet-mapping>


</web-app>